body {
  width: 13rem;
  height: 15rem;
  padding: 1rem;
}

#main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}

#main button {
  margin-top: 3rem;
  border-radius: 1rem;
  font-size: large;
  background-color: #e7e9ec;
  border: none;
  padding: 4px;
  font-weight: 600;
}

#main button:hover {
  opacity: 0.8;
  cursor: pointer;
}

#url-text {
  font-size: large;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
